<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=saliamisan;AccountKey=veZBQPv8zqHE5oer4dYuy76dm83zXfOnYX+36NKhsYC53XU8+2m6teSTAO21IUzLFzkNykpWIEePk5mfir0zkw==" />
  </appSettings>
</configuration>